@media (max-width: 567px) {
  /* line 2, ../sass/media.scss */
  .center {
    width: 320px;
  }
  /* line 5, ../sass/media.scss */
  .center section.clubs .container {
    padding-bottom: 0;
  }
  /* line 7, ../sass/media.scss */
  .center section.clubs .container .title {
    height: 256px;
  }
  /* line 9, ../sass/media.scss */
  .center section.clubs .container .title h1 {
    font-size: 41.5px;
    margin: 35px 0 0 30px;
    line-height: 35px;
  }
  /* line 14, ../sass/media.scss */
  .center section.clubs .container .title p {
    font-size: 16.25px;
    line-height: 19.14px;
    margin: 20px 0 0 30px;
  }
  /* line 20, ../sass/media.scss */
  .center section.clubs .container .sport {
    margin-top: 0;
    width: 100%;
    height: 148px;
  }
  /* line 24, ../sass/media.scss */
  .center section.clubs .container .sport .avacado {
    width: 147px;
    top: 18px;
    left: 5px;
    right: auto;
  }
  /* line 30, ../sass/media.scss */
  .center section.clubs .container .sport p {
    font-size: 31.8px;
    color: #612141;
    margin: 20px 0 0 160px;
    width: 145px;
  }
  /* line 35, ../sass/media.scss */
  .center section.clubs .container .sport p span {
    font-size: 31.8px;
  }
  /* line 40, ../sass/media.scss */
  .center section.clubs .container .gurmans {
    width: 100%;
    margin-left: 0;
    height: 148px;
  }
  /* line 44, ../sass/media.scss */
  .center section.clubs .container .gurmans p {
    font-size: 39.2px;
    color: #6b3d2e;
    width: 150px;
    line-height: 46.28px;
    margin: 10px 0 0 20px;
  }
  /* line 50, ../sass/media.scss */
  .center section.clubs .container .gurmans p span {
    font-size: 53.17px;
  }
  /* line 54, ../sass/media.scss */
  .center section.clubs .container .gurmans .mahito {
    width: 150px;
    top: -27px;
    right: 24px;
  }
  /* line 60, ../sass/media.scss */
  .center section.clubs .container .parents {
    width: 100%;
    height: 148px;
  }
  /* line 63, ../sass/media.scss */
  .center section.clubs .container .parents p {
    font-size: 24.8px;
    color: #487a7b;
    margin: 35px 0 0 11px;
    display: inline-block;
  }
  /* line 69, ../sass/media.scss */
  .center section.clubs .container .parents .family {
    width: 197px;
    top: 10px;
    right: 10px;
  }
  /* line 75, ../sass/media.scss */
  .center section.clubs .container .content {
    margin: 0;
    padding: 0 10px 0 20px;
  }
  /* line 78, ../sass/media.scss */
  .center section.clubs .container .content p {
    font-size: 14.1px;
    line-height: 20.3px;
  }
  /* line 82, ../sass/media.scss */
  .center section.clubs .container .content h3 {
    font-size: 14.1px;
    line-height: 20.3px;
  }
  /* line 87, ../sass/media.scss */
  .center section.clubs .container .content ul li {
    font-size: 14.1px;
    line-height: 20.3px;
  }
  /* line 93, ../sass/media.scss */
  .center section.clubs .container .content ul:nth-of-type(n+2) li {
    background-size: 10px;
  }
}
