@media (max-width: 567px) {
	body{
		min-width: 320px;
	}
	.main{
		max-width: 320px;
		min-width: 320px;
	}
	menu.feedback ul.sub0{
		width: 320px;
	}
	.main > .right{
		margin-left: 0;
		display: inline-block;
	}
	.crumbs{
		font-size: 9px;
		text-align: center;
	}
	.crumbs .sep{
		font-size: 10px;
	}
	menu.feedback ul.sub0 > li {
		font-size: 17px;
		font-family: 'daxlineoffcprobold';
		min-height: 19px;
		padding: 22px 25px 22px 74px;
		line-height: 19px;
	}
	menu.feedback li{
		font-size: 14px;
		font-family: 'daxlineoffcpro';
		line-height: 21px;
    min-height: 21px;
	}
	menu.feedback a.sub0 > .icon{
		/*top:0;
		transform: initial;*/
		-webkit-background-size: contain;
		background-size: contain;
		height: 63px;
    width: 52px;
    margin-left: 10px;
	}
	.main > .back a{
		font-size: 13px;
	}
	.main .back a > span{
		font-size: 11px;
	}
}
@media (min-width: 568px) and (max-width: 767px) {
	body{
		min-width: 568px;
	}
	.main{
		max-width: 568px;
		min-width: 568px;
	}
	menu.feedback ul.sub0{
		width: 568px;
	}
	.main > .right{
		margin-left: 0;
		display: inline-block;
	}
	.crumbs{
		font-size: 9px;
		text-align: center;
	}
	.crumbs .sep{
		font-size: 10px;
	}
	menu.feedback ul.sub0 > li {
		font-size: 17px;
		font-family: 'daxlineoffcprobold';
		min-height: 19px;
		padding: 22px 25px 22px 74px;
		line-height: 19px;
	}
	menu.feedback li{
		font-size: 14px;
		font-family: 'daxlineoffcpro';
		line-height: 21px;
    min-height: 21px;
	}
	menu.feedback a.sub0 > .icon{
		/*top:0;
		transform: initial;*/
		-webkit-background-size: contain;
		background-size: contain;
		height: 63px;
    width: 52px;
    margin-left: 10px;
	}
	.main > .back a{
		font-size: 13px;
	}
	.main .back a > span{
		font-size: 11px;
	}
}
@media (min-width: 768px) and (max-width: 999px) {
	.main{
		max-width: 768px;
		min-width: 568px;
	}
	.main > .right
	{
    margin-left:210px;
	}
	.crumbs{
		font-size: 12px;
	}
	.crumbs .sep{
		font-size: 10px;
	}
	menu.feedback ul.sub0 > li {
		font-size: 19px;
	}
	menu.feedback li{
		font-size: 12px;
		line-height: 17px;
    min-height: 21px;
	}
	menu.feedback ul.sub1{
		margin: 10px 0;
	}
	menu.feedback ul.sub0{
		width: auto;
	}
	menu.feedback a.sub0 > .icon{
		/*top:0;
		transform: initial;*/
		-webkit-background-size: contain;
		background-size: contain;
		height: 70px;
		width: 70px;
	}

	.main > .back a{
		font-size: 16px;
	}
	menu.feedback ul.sub0 > li{
		padding: 24px 0 24px 110px;
	}
}
@media (min-width: 999px) {
	.center{
		width: 1000px;
	}
}