/* line 5, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
@font-face {
    font-family: 'daxlineoffcpro';
    src: url('/moya/fonts/Daxlineoffcpro.eot');
    src: url('/moya/fonts/Daxlineoffcpro.eot?#iefix') format('embedded-opentype'),
         url('/moya/fonts/Daxlineoffcpro.woff2') format('woff2'),
         url('/moya/fonts/Daxlineoffcpro.woff') format('woff'),
         url('/moya/fonts/Daxlineoffcpro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'daxlineoffcprolight';
    src: url('/moya/fonts/Daxlineoffcprolight.eot');
    src: url('/moya/fonts/Daxlineoffcprolight.eot?#iefix') format('embedded-opentype'),
         url('/moya/fonts/Daxlineoffcprolight.woff2') format('woff2'),
         url('/moya/fonts/Daxlineoffcprolight.woff') format('woff'),
         url('/moya/fonts/Daxlineoffcprolight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'daxlineoffcprobold';
    src: url('/moya/fonts/Daxlineoffcprobold.eot');
    src: url('/moya/fonts/Daxlineoffcprobold.eot?#iefix') format('embedded-opentype'),
         url('/moya/fonts/Daxlineoffcprobold.woff2') format('woff2'),
         url('/moya/fonts/Daxlineoffcprobold.woff') format('woff'),
         url('/moya/fonts/Daxlineoffcpro-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, button, input, select, textarea
{
	font-family: 'daxlineoffcpro', Tahoma, Arial, Helvetica, sans-serif;
}
.center{
    width: auto;
}

body
{
	min-width: 850px;
	height: 100%;
	margin: 0;
	font-size: 16px;
    letter-spacing:-0.6px;
	background: #fff;
	color: #878787;
}

::-moz-selection
{
    background:#333;
    color:#fff;
    text-shadow:none
}

::selection
{
	background: #333;
	color: #fff;
	text-shadow: none
}

a
{
    color:#c4d600;
	text-decoration: underline;
}

a:visited
{
}

a:hover
{
	text-decoration: none
}
a.invert
{
	text-decoration: none;
}
a.invert:hover
{
	text-decoration: underline;
}

a:focus, a:hover, a:active
{
	outline: none
}

a.dotted
{
	text-decoration: none;
	border-bottom: 1px dotted #e9292a;
}

a.dotted:hover
{
	border-bottom-color: transparent;
}

h1 {
	font-size: 24px;
	line-height: 36px;
	margin: 20px 0;
	font-weight: normal;
}
h2 {
	font-size: 14px;
	line-height: 22px;
	font-weight: bold;
	margin: 17px 0 6px;
}
dd
{
	margin: 0 0 0 40px
}
/*
form
{
	margin: 0;
}

fieldset
{
	border: 0;
	margin: 0;
	padding: 0;
}

label
{
	cursor: pointer;
}

legend
{
	border: 0;
    margin-left:-7px;
	padding: 0;
	white-space: normal;
}

button, input, select, textarea
{
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
    vertical-align:middle;
}

button, input
{
	line-height: normal;
}

button, input[type="button"], input[type="reset"], input[type="submit"]
{
	cursor: pointer;
	-webkit-appearance: button;
    overflow:visible
}

input[type="search"]
{
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button
{
    -webkit-appearance:none
}

button::-moz-focus-inner, input::-moz-focus-inner
{
    border:0;
    padding:0
}

textarea
{
	overflow: auto;
	vertical-align: top;
	resize: vertical
}

input:invalid, textarea:invalid
{
    background-color:#f0dddd
}

input:focus
{
	outline: none;
}

input[type="text"], input[type="password"], input[type="tel"], input[type="email"], textarea
{
	width: 100%;
}

textarea
{
	resize: none;
	outline: none;
	height: 155px;
}

input[type="submit"], input[type="button"], .button
{
	border: none;
	box-shadow: none;
	display: inline-block;
	height: 33px;
	vertical-align: top;
	border-radius: 0;
	color: #fff;
	padding: 4px 12px;
	line-height: 26px;
	font-size: 16px;
	font-family: 'daxlineprobold';
	background: #384f3a;
}

table
{
	border-collapse: collapse;
	border-spacing: 0
}

nav a
{
	display: inline-block;
	vertical-align: middle;
	margin: 0 13px;
	font: normal 16px 'daxlineprobold';
	color: #939597;
	text-decoration: none;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-o-transition: color .2s ease;
	-ms-transition: color .2s ease;
	transition: color .2s ease; 
	position: relative;
}

nav a:hover, nav a.active
{
	color: #a0ae39;
}

nav a:first-child
{
	margin-left: 0;
}

footer menu ul {
	display: table-cell;
	list-style: none;
	text-align: left;
	vertical-align: bottom;
	padding-left: 40px;
}

footer menu li {
	display: block;
	margin: 11px 0 0;
	min-width: 85px;
}
footer menu li:first-child {
	margin-top: 1px;
}
footer menu a {
	font: normal 13px 'daxlinepro-medium';
	text-decoration: none;
}
footer menu a:hover
{
	text-decoration: underline;
}
*/

/* ==================================== */

.clr
{
    clear:both;
}

.cmd
{
    cursor:pointer;
}

.main
{
    clear:both;
    min-width:850px;
    max-width:1000px;
    margin:0px auto;
    padding:0px;
}

.main > .left
{
    float:left;
    width:250px;
}

.main > .right
{
    margin-left:280px;
}


.fContainer,
.fItem
{
    display:flex;
    display:-webkit-flex;
}

.fFix
{
    flex-grow:0;
    -webkit-flex-grow:0;

    flex-shrink:0;
    -webkit-flex-shrink:0;
}

.fMore
{
    flex-grow:1;
    -webkit-flex-grow:1;

    flex-shrink:0;
    -webkit-flex-shrink:0;
}

header .info,
header nav > ul
{
    height:60px;

    align-items:center;
    -webkit-align-items:center;
}

header .search
{
    flex-basis:145px;
    -webkit-flex-basis:145px;
}

header .contact
{
    -webkit-flex-basis:
    padding-right:10px;

    flex-direction:row-reverse;
    -webkit-flex-direction:row-reverse;
}

header .contact > div
{
    margin-left:20px;
    font-size:14px;
}

a.phone
{
    font-family: 'daxlineoffcprobold';
    color:#a3b245;
    font-size:15px;
    text-decoration:none;
}

.search > .inner
{
    display:inline-block;
    white-space:nowrap;
    background-color:#f2f2f2;
    height:22px;
    line-height:22px;
    padding:0px 5px;
}

.search > .inner input
{
    width:80px;
    background-color:transparent;
    border:0px;
    line-height:22px;
    font-size:16px;
    transition:0.4s;
}

.search > .inner input:focus
{
    width:200px;
}

.crumbs
{
    line-height:60px;
    font-size: 14px;
    background: #fff;
}

.crumbs .sep
{
    font-size:12px;
    margin:0px 10px;
}

.crumbs a
{
    color:inherit;
    text-decoration:none;
}

.crumbs a:hover,
.crumbs a.active
{
    color:#c4d600;
}

menu.feedback ul
{
    display:none;
}


menu.feedback ul.sub0
{
    display:block;
}

menu.feedback a
{
    color:inherit;
    text-decoration:none;
    border-bottom:1px dotted;
}

menu.feedback a.sub0
{
    border-bottom:none;
}

menu.feedback a:hover,
menu.feedback a.active
{
    color:#c4d600;
}

menu.feedback ul
{
    padding:1px;
    margin-left:50px;
}

menu.feedback ul.sub0
{
    width: 800px;
    padding:0px;
    margin:0px;
}

menu.feedback ul.sub1
{
    margin:20px 0px;
}

menu.feedback li
{
    font-size:16px;
    line-height:32px;
    min-height:32px;
}

menu.feedback li span.fa{
    font-size: 11px;
    margin-left: 5px;
}
menu.feedback ul.sub0 > li
{
    position:relative;
    font-size:26px;
    line-height:normal;
    border-bottom:1px dotted #a0a09f;
    padding:30px 0px 30px 117px;
    margin:0px;
}
menu.feedback ul.sub0 > li:last-child{
    border: 0;
}
menu.feedback a.sub0 > .icon
{
    position:absolute;
    transform: translateY(-50%);
    left:0px;
    top:50%;
    width:100px;
    height:100px;
    background-position:center center;
    background-repeat:no-repeat;
}

.main .back
{
    margin:60px 0px 20px 10px;
    font-size:20px;
    font-family: 'daxlineoffcprobold';
}

.main > .back a
{
    border:none;
    color:inherit;
    text-decoration:none;
    font-size: 20px;
}

.main > .back a:hover
{
    color:#c4d600;
}

.main .back a > span{
    font-size: 14px;
    margin-right: 10px;   
}